:root {
  --primary-color: #616161;
  --secondary-color: antiquewhite;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.heading {
  text-align: left;
  color: var(--secondary-color);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--primary-color);
  background-position: center;
  background-attachment: fixed;
  background-position: 10%;
}

.heading nav ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
  list-style-type: none;
}

.heading nav ul li a {
  color: var(--secondary-color);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 15px;
}

.job p,
.job-name,
.hero p {
  display: flex;
  justify-content: flex-end;
}

.job img {
  width: 150px;
  height: 100px;
}
